.gallery-container {
    background: var(--main);
    height: auto;
    width: 100%;
}

.gallery-title {
    font-size: 4rem;
    color: var(--third);
    font-weight: lighter;
    position: relative;
    z-index: 20 !important;
}

.gallery-subheading {
    color: var(--third);
    opacity: 0.5;
    font-weight: 1;
    padding-top: 10px;
}

.gallery-heading-container {
    margin-top: 100px;
    width: 600px;
    margin-left: 30px;
    text-align: left;
    z-index: 2 !important;
}

.gallery-images-container {
    position: relative;
    margin-top: 30px;
    background-color: var(--secondary);
    width: 180%;
    height: 500px;
    z-index: 2;
    left: -1800px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.frank-and-jenies-test {
    z-index: 10;
    width: 560px;
    height: auto;
    border-radius: 10px !important;
    border-bottom-left-radius: 10px !important;
    margin-left: 15px;
    transition: 0.5s ease;
}

.frank-and-jenies-test:hover {
    scale: 103%;
}
