.about-container {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    margin-top: 100px;
    margin-bottom: 200px;
    overflow-y: visible;
    padding-top: 130px;
}

.about-container h1,
.about-container p {
    color: white;
}

.about-content {
    display: flex;
    justify-content: flex-start;
    width: 37%;
    flex-direction: column;
    text-align: left;
    font-size: 1.7rem;
    padding-bottom: 50px;
    margin-left: 3%;
    overflow: visible;
}

.about-image-container {
    background-color: #13293D;
    width: 40%;
    height: auto;
    overflow: visible;
    margin-right: 3%;
    z-index: 3;
    width: clamp(500px, 45%, 1000px);
}

.about-text {
    line-height: 40px;
    font-size: 1.5rem;
}

.about-image {
    height: 100%;
    width: 100%;
    transition: 2s ease-in-out;
}

.about-image.active {
    transform: translate(40px, -40px);
    box-shadow: -15px 15px 80px black;
}

.about-header {
    font-size: 5rem;
    font-weight: lighter;
    padding-bottom: 20px;
}

.about-wrapper {
    position: absolute;
    background-color: var(--main);
    height: 100%;
    width: 100%;
    top: 100vh;
}

@media only screen and (max-width: 1350px) {
    .about-text {
        font-size: 1.3rem !important;
        line-height: 30px;
    }

    .about-header {
        font-size: 4rem;
        margin-top: 90px;
    }

    .about-container {
        margin-bottom: 70px;
        margin-top: 70px;
    }
}

@media only screen and (max-width: 1200px) {
    .about-container {
        flex-direction: column-reverse;
        width: 100%;
    }

    .about-content {
        width: 55%;
    }

    .about-image-container {
        width: 60%;
    }
}

@media only screen and (max-width: 965px) {
    .about-content {
        width: 80%;
    }

    .about-image-container {
        width: 80%;
    }
}

@media only screen and (max-width: 650px) {
    .about-text {
        font-size: 1rem !important;
    }
    .about-header {
        font-size: 3rem;
    }

    .active {
        transform: translate(20px, -20px) !important;
    }
}