.projects-container {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    margin-top: 100px;
}

.projects-items {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    overflow: hidden;
}

.projects-item {
    height: 80vh;
    background-color: #d9d9d9;
    width: 43%;
    overflow: hidden;
    transition: 0.5s ease;
}

.projects-item img {
    width: 400%;
    height: auto;
    transition: 1s ease-in;
}

.projects-image-container {
    width: 120%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -10%;
    margin-top: -50px;
    overflow: hidden;
}

.projects-item h1 {
    font-size: 4rem;
}

.projects-item h2 {
    opacity: 0.6;
}

.projects-item-header {
    padding-left: 20px;
    padding-top: 15px;
    position: relative;
}


.projects-heading-container {
    color: white;
    margin-left: 3.5%;
    margin-bottom: 50px;
    font-size: 3rem;
    font-weight: 1;
    font-weight: light !important;
    overflow: visible;
}

.projects-heading-container h1 {
    font-weight: lighter;
}


.projects-heading-container h2 {
    font-size: 2rem;
    font-weight: 1 !important;
    opacity: 0.7 !important;
    overflow: hidden;
}