.navbar-container {
    height: 7rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    color: white;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 50;
    overflow-y: hidden;
}

.navbar-logo {
    font-weight: lighter;
    font-size: 2.7rem;
    padding-left: 30px;
    color: white;
}


/* burger */

.burger {
    display: none;
    position: absolute !important;
    right: 30px;
    height: 6rem;
    width: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 10px;
    justify-content: center;
    cursor: pointer;
    z-index: 100;
    margin-top: -20px;
}

.burger-bar {
    width: 5em;
    height: 0.5em;
    background-color: #E8F1F2;
    margin-top: 20px;
}

/* ----- animations--------- */
/* clicked */
.burger-bar.clicked:nth-child(1){
    transform: rotate(35deg) translateY(17px);
    transition: ease-out 0.3s;
}

.burger-bar.clicked:nth-child(2){
    transform: rotate(-35deg) translateY(-17px);
    transition: ease-out 0.3s;
}

/* unclicked */
.burger-bar.unclicked {
    transform: rotate(0) translate(0);
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
}

.navbar-menu {
    height: 100vh;
    width: 100%;
    background: linear-gradient(45deg, var(--main), var(--main));
    position: fixed;
    top: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.25s ease-in;
    transform: translateY(0px);
}

.visible {
    transition: 0.5s ease-in;
    transform: translateY(0px);
}

.hidden {
    transition: 0.25s ease-out;
    transform: translateY(-110vh);
}

.navbar-menu-items {
    font-size: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar-menu-items li {
    display: inline-block;
    padding-bottom: 3px;
    position: relative;
    margin-top: 7px;
}

.navbar-menu-items li::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 5px;
    background-color: var(--secondary);
    transition: width 0.25s ease-out;
}

.navbar-menu-items li:hover::before {
    width: 100%;
    left: 0;
    right: auto;
}

.background {
    background: var(--main);
}